<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: commonHead('体育社区 | 社团活动信息明细')"></head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="header :: commonMenu('act-detail','社团活动信息明细')">
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:include="header::commonPageHead()"></div>

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>社团活动明细</h2>
                <ol class="breadcrumb">
                    <li>
                        <a th:href="@{/}">首页</a>
                    </li>
                    <li>
                        <a>数据</a>
                    </li>
                    <li class="active">
                        <strong>活动信息</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>活动基础信息</h5>
                        </div>
                        <div class="ibox-content">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4 class="list-group-item-heading">
                                                活动时间
                                            </h4>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="list-group-item-text" th:text="${activity.getActDate()}">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4 class="list-group-item-heading">
                                                参与人数
                                            </h4>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="list-group-item-text" th:text="${activity.getActPeopleNum()}">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4 class="list-group-item-heading">
                                                活动地点
                                            </h4>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="list-group-item-text" th:text="${activity.getActAddr()}">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4 class="list-group-item-heading">
                                                活动联系人
                                            </h4>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="list-group-item-text" th:text="${activity.getActUser()}">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4 class="list-group-item-heading">
                                                联系方式
                                            </h4>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="list-group-item-text" th:text="${activity.getActUserTel()}">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4 class="list-group-item-heading">
                                                结对社区
                                            </h4>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="list-group-item-text" th:text="${activity.getCommunity()}">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4 class="list-group-item-heading">
                                                结对项目
                                            </h4>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="list-group-item-text" th:text="${activity.getProject()}">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h4 class="list-group-item-heading">
                                                活动简介
                                            </h4>
                                        </div>
                                        <div class="col-md-2">
                                            <p class="list-group-item-text" th:text="${activity.getIntroduce()}">
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-7">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>活动图片</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="carousel slide" id="carousel1">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img alt="image" class="img-responsive" th:src="@{/static/img/{actImg}(actImg=${activity.getActImg1()})}">
                                    </div>
                                    <div class="item " th:if="!${#strings.isEmpty(activity.getActImg2())}">
                                        <img alt="image" class="img-responsive" th:src="@{/static/img/{actImg}(actImg=${activity.getActImg2()})}">
                                    </div>
                                    <div class="item " th:if="!${#strings.isEmpty(activity.getActImg3())}">
                                        <img alt="image" class="img-responsive" th:src="@{/static/img/{actImg}(actImg=${activity.getActImg3()})}">
                                    </div>
                                    <div class="item " th:if="!${#strings.isEmpty(activity.getActImg4())}">
                                        <img alt="image" class="img-responsive" th:src="@{/static/img/{actImg}(actImg=${activity.getActImg4()})}">
                                    </div>
                                </div>
                                <a data-slide="prev" href="#carousel1" class="left carousel-control">
                                    <span class="icon-prev"></span>
                                </a>
                                <a data-slide="next" href="#carousel1" class="right carousel-control">
                                    <span class="icon-next"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>活动备注</h5>
                        </div>
                        <div class="ibox-content">

                            <p th:text="${activity.getDesc()}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
        <div class="footer" th:include="footer::footer"></div>
    </div>
</div>
<span th:include="common_js:: commonOnLoadJs"></span>
</body>
</html>
