<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: commonHead('体育社区 | 用户统计')"></head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="header :: commonMenu('userList','用户统计')">
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:include="header::commonPageHead()"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>统计页面</h2>
                <ol class="breadcrumb">
                    <li>
                        <a th:href="@{/}">首页</a>
                    </li>
                    <li>
                        <a>数据</a>
                    </li>
                    <li class="active">
                        <strong>统计</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>用户信息</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>用户id</th>
                                        <th>用户名</th>
                                        <th>联系人 </th>
                                        <th>联系方式 </th>
                                        <th>所属社团</th>
                                        <th>创建时间</th>
                                        <th>修改时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="data:${dataList}">
                                    <tr>
                                        <td th:text="${data.getId()}">...</td>
                                        <td th:text="${data.getAccount()}">...</td>
                                        <td th:text="${data.getUserName()}">...</td>
                                        <td th:text="${data.getUserTel()}">...</td>
                                        <td th:text="${data.getGroupName()}">...</td>
                                        <td th:text="${data.getCreated()}">...</td>
                                        <td th:text="${data.getModified()}">...</td>
                                        <td>
                                            <button type="button" class="btn btn-primary alex-user-edit" data-toggle="modal" th:attr="data-userId=${data.getId()}, data-account=${data.getAccount()}" data-target=".bs-example-modal-lg">编辑</button>
                                            <button type="button" class="btn btn-danger alex-user-del" data-toggle="modal" th:attr="data-userId=${data.getId()}, data-account=${data.getAccount()}" data-target=".bs-example-modal-lg-1">删除</button>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer" th:include="footer::footer"></div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">修改用户信息</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/user/edit" id="editForm" autocomplete="off">
                    <div class="form-group">
                        <label for="account" class="control-label">用户名:</label>
                        <input type="text" class="form-control" id="account" name="account" disabled>
                    </div>
                    <div class="form-group">
                        <label for="lianxiren" class="control-label">联系人:</label>
                        <input class="form-control" name="userName" id="lianxiren" type="text" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="lianxifangshi" class="control-label">联系方式:</label>
                        <input class="form-control" id="lianxifangshi" name="userTel" type="text" autocomplete="off" >
                    </div>
                    <div class="form-group">
                        <label for="passwd" class="control-label">密码重置:</label>
                        <input class="form-control" id="passwd" name="passwd" type="password" autocomplete="off" >
                    </div>
                    <input class="form-control" id="uid" name="uid" type="text" hidden="hidden" style="display: none;">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="doSubmit()">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade bs-example-modal-lg-1" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel-1">用户删除</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger">确认删除</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<span th:include="common_js:: commonOnLoadJs"></span>
<script>
    $(document).on('show.bs.modal','.bs-example-modal-lg', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var userId = button.data('userid'); // Extract info from data-* attributes
        var account = button.data('account'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);

        modal.find('.modal-body #account').val(account);
        modal.find('.modal-body #uid').val(userId);
    });

    $(document).on('show.bs.modal','.bs-example-modal-lg-1', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var userId = button.data('userid'); // Extract info from data-* attributes
        var account = button.data('account'); // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this);
        console.log(modal);

        modal.find('.modal-body #account').val(account);
        modal.find('.modal-body input').val()
    });
    function doSubmit() {
        var passwd = $("#passwd").val();
        var lianxiren = $("#lianxiren").val();
        var lianxifangshi = $("#lianxifangshi").val();
        var uid = $("#uid").val();
        $.post("/user/edit",{uid:uid, userTel:lianxifangshi,userName:lianxiren,passwd:passwd}, function (data) {
            if (!data.success) {
                alert("修改用户信息失败");
            } else {
                alert("修改成功");
                location.reload(true);
            }
        });
    }
</script>
</body>
</html>
