<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: commonHead('体育社区 | 用户统计')"></head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="header :: commonMenu('userList','用户统计')">
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i> 登出
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>统计页面</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a>数据</a>
                    </li>
                    <li class="active">
                        <strong>统计</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>用户信息</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>

                                        <th>用户id</th>
                                        <th>用户名</th>
                                        <th>联系人 </th>
                                        <th>联系方式 </th>
                                        <th>所属社团</th>
                                        <th>创建时间</th>
                                        <th>修改时间</th>
                                    </tr>
                                    </thead>
                                    <tbody th:each="data:${dataList}">
                                    <tr>
                                        <td th:text="${data.getId()}">...</td>
                                        <td th:text="${data.getAccount()}">...</td>
                                        <td th:text="${data.getUserName()}">...</td>
                                        <td th:text="${data.getUserTel()}">...</td>
                                        <td th:text="${data.getGroupName()}">...</td>
                                        <td th:text="${data.getCreated()}">...</td>
                                        <td th:text="${data.getModified()}">...</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer" th:include="footer::footer"></div>
    </div>
</div>
<span th:include="common_js:: commonOnLoadJs"></span>
</body>
</html>
