<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<span th:fragment="commonOnLoadJs">
  
<!-- Mainly scripts -->
<script th:src="@{/static/js/jquery-2.1.1.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/echarts.min.js}"></script>
<script th:src="@{/static/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/static/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Custom and plugin javascript -->
<script th:src="@{/static/js/inspinia.js}"></script>
<script th:src="@{/static/js/plugins/pace/pace.min.js}"></script>

    <!-- Flot -->

    <!-- iCheck -->
<script th:src="@{/static/js/plugins/iCheck/icheck.min.js}"></script>


    <script th:src="@{/static/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script th:src="@{/static/js/plugins/cropper/cropper.min.js}"></script>

<script>
    $(document).ready(function () {
        $.fn.datepicker.defaults.format = "yyyy-mm-dd";
        $('.datepicker').datepicker({
            startDate: '-3d'
        })
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
</script>
</span>
</html>