<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<span th:fragment="commonOnLoadJs">
  
<!-- Mainly scripts -->
<script th:src="@{/static/js/jquery-2.1.1.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/static/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

    <!-- Custom and plugin javascript -->
<script th:src="@{/static/js/inspinia.js}"></script>
<script th:src="@{/static/js/plugins/pace/pace.min.js}"></script>

    <!-- Flot -->
    <script th:src="@{/static/js/plugins/flot/jquery.flot.js}"></script>
    <script th:src="@{/static/js/plugins/flot/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/static/js/plugins/flot/jquery.flot.spline.js}"></script>
    <script th:src="@{/static/js/plugins/flot/jquery.flot.resize.js}"></script>
    <script th:src="@{/static/js/plugins/flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/static/js/plugins/flot/jquery.flot.symbol.js}"></script>
    <script th:src="@{/static/js/plugins/flot/jquery.flot.time.js}"></script>

    <!-- Peity -->
    <script th:src="@{/static/js/plugins/peity/jquery.peity.min.js}"></script>
    <script th:src="@{/static/js/demo/peity-demo.js}"></script>

    <!-- iCheck -->
<script th:src="@{/static/js/plugins/iCheck/icheck.min.js}"></script>

    <!-- EayPIE -->
    <script th:src="@{/static/js/plugins/easypiechart/jquery.easypiechart.js}"></script>

    <!-- Sparkline -->
    <script th:src="@{/static/js/plugins/sparkline/jquery.sparkline.min.js}"></script>

    <!-- Sparkline demo data  -->
    <script th:src="@{/static/js/demo/sparkline-demo.js}"></script>

    <script th:src="@{/static/js/plugins/datapicker/bootstrap-datepicker.js}"></script>

<script>
    $(document).ready(function () {
        $.fn.datepicker.defaults.format = "yyyy-mm-dd";
        $('.datepicker').datepicker({
            startDate: '-3d'
        })
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });
</script>
</span>
</html>