<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: commonHead('体育社区 | 数据统计')"></head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="header :: commonMenu('statistics','数据统计')">
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <h1 class="logo-name">
                    <img src="static/img/0-1.png"  class="img-responsive img-rounded" width="20%" alt="Responsive image" style="float: left;">
                    <img src="static/img/0-2.png"  class="img-responsive img-rounded" width="20%" style="float: left;margin-left: 20px;margin-top: 1%" alt="Responsive image">
                </h1>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i> 登出
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>统计页面</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a>数据</a>
                    </li>
                    <li class="active">
                        <strong>统计</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">月度</span>
                            <h5>活动次数</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins" th:text="${actCnt}"></h1>
                            <!--
                                                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                            -->
                            <small>累计活动次数</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-info pull-right">年度</span>
                            <h5>社团总数</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins"  th:text="${grpCnt}"></h1>
                            <!--
                                                        <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                            -->
                            <small>全部社团数量</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Today</span>
                            <h5>访问次数</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins" th:text="${visitCnt}">10</h1>
                            <!--
                                                        <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
                            -->
                            <small>用户访问次数</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-danger pull-right">年度</span>
                            <h5>社团用户数</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins"  th:text="${userCnt}"></h1>
                            <!--
                                                        <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
                            -->
                            <small>所有社团用户数量</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>社团活动次数趋势</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="flot-chart">
                                        <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>各社团活动次数统计</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>社团名称</th>
                                    <th>活动次数</th>
                                </tr>
                                </thead>
                                <tbody th:each="data:${groupDataList}">
                                <tr>
                                    <td th:text="${data.get('id')}">...</td>
                                    <td th:text="${data.get('group_name')}">...</td>
                                    <td th:text="${data.get('cnt')}">...</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" th:include="footer::footer"></div>
    </div>
</div>
<span th:include="common_js:: commonOnLoadJs"></span>
<script>
    $(document).ready(function() {

        $.post( "/activity/activityData", function( data ) {
            var myChart = echarts.init(document.getElementById('flot-dashboard-chart'));
            var option = {
                backgroundColor: '#FFF',
                grid: {
                    top: '9%',
                    bottom: '10%',
                    left: '4%',
                    right: '1%'
                },
                tooltip: {
                    trigger: 'axis',
                    label: {
                        show: true
                    }
                },
                xAxis: {
                    boundaryGap: true, //默认，坐标轴留白策略
                    axisLine: {
                        show: false
                    },
                    splitLine: {
                        show: false
                    },
                    axisTick: {
                        show: false,
                        alignWithLabel: true
                    },
                    data: data.date
                },
                yAxis: {
                    axisLine: {
                        show: false
                    },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            type: 'dashed',
                            color: 'rgba(33,148,246,0.2)'
                        }
                    },
                    axisTick: {
                        show: false
                    },
                    splitArea: {
                        show: true,
                        areaStyle: {
                            color: 'rgb(245,250,254)'
                        }
                    }
                },
                series: [{
                    type: 'line',
                    symbol: 'circle',
                    symbolSize: 7,
                    lineStyle: {
                        color: 'rgb(33,148,246)',
                        shadowBlur: 12,
                        shadowColor: 'rgb(33,148,246,0.9)',
                        shadowOffsetX: 1,
                        shadowOffsetY: 1
                    },
                    itemStyle: {
                        color: 'rgb(33,148,246)',
                        borderWidth: 1,
                        borderColor: '#FFF'
                    },
                    label: {
                        show: false,
                        distance: 1,
                        emphasis: {
                            show: true,
                            offset: [25, -2],
                            //borderWidth:1,
                            // borderColor:'rgb(33,148,246)',
                            //formatter:'{bg|{b}\n数据量:{c}}',

                            color: '#FFF',
                            padding: [8, 20, 8, 6],
                            //width:60,
                            height: 36,
                            formatter: function(params) {
                                var name = params.name;
                                var value = params.data;
                                var str = name + '\n数据量：' + value;
                                return str;
                            },
                            rich: {
                                bg: {
                                    width: 78,
                                    //height:42,
                                    color: '#FFF',
                                    padding: [20, 0, 20, 10]
                                },
                                br: {
                                    width: '100%',
                                    height: '100%'
                                }

                            }
                        }
                    },
                    data: data.act
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        });

    });
</script>
</body>
</html>
