<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: commonHead('体育社区 | 问题反馈')"></head>
<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="header :: commonMenu('feedback','问题反馈')">
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div th:include="header::commonPageHead()"></div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>反馈列表</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li class="active">
                        <strong>用户反馈</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>

        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>反馈列表</h5>
                            <div class="ibox-tools">
                                <a class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">我要反馈</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="m-b-lg">
                                <div class="m-t-md">
                                    <strong>Found 61 issues.</strong>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-hover issue-tracker">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <span class="label label-primary">建议</span>
                                        </td>
                                        <td class="issue-info">
                                            <a href="#">
                                                ISSUE-23
                                            </a>

                                            <small>
                                                新增筛选项
                                            </small>
                                        </td>
                                        <td>
                                            温州市篮球协会
                                        </td>
                                        <td>
                                            12.02.2019 10:00 am
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="label label-danger">问题</span>
                                        </td>
                                        <td class="issue-info">
                                            <a href="#">
                                                ISSUE-52
                                            </a>

                                            <small>
                                                筛选功能有问题
                                            </small>
                                        </td>
                                        <td>
                                            温州市围棋协会
                                        </td>
                                        <td>
                                            18.09.2019 06:20 pm
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="footer" th:include="footer::footer"></div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">修改用户信息</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="/addIssues" id="addIssues" autocomplete="off">
                    <div class="form-group">
                        <select>
                            <option>问题</option>
                            <option>建议</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="newIssueTitle" name="title">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="desc" id="newIssueDesc" autocomplete="off"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="doSubmit()">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<span th:include="common_js:: commonOnLoadJs"></span>

</body>

</html>
