<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.alexura.baobao.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.alexura.baobao.entity.UserEntity" >
        <result property="id"  column = "id" jdbcType="INTEGER"/>
        <result property="account"  column = "account" jdbcType="VARCHAR"/>
        <result property="userName"  column = "user_name" jdbcType="VARCHAR"/>
        <result property="userTel"  column = "user_tel" jdbcType="VARCHAR"/>
        <result property="groupName"  column = "group_name" jdbcType="VARCHAR"/>
        <result property="created"  column = "created" jdbcType="VARCHAR"/>
        <result property="modified"  column = "modified" jdbcType="VARCHAR"/>
        <result property="community1"  column = "community1" jdbcType="VARCHAR"/>
        <result property="community2"  column = "community2" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List" >
        `id`,`account`,user_name,user_tel,group_name,created,modified,community1,community2
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM alex_user
        where  `status`=1
    </select>

    <select id="getUserByAccountAndPasswd" parameterType="map" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM alex_user
        WHERE `account` = #{account} and passwd=#{passwd}
        and `status` =1
    </select>

    <select id="getUserByAccount" parameterType="map" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM alex_user
        WHERE id=#{id}
    </select>


    <select id="getUser" parameterType="map" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM alex_user
        WHERE `account` = #{account}
        AND `status`=1
    </select>

    <select id="countAll" resultType="java.lang.Long" >
        SELECT
          count(*)
        FROM alex_user
        WHERE `status` = 1
    </select>


    <insert id="insert" parameterType="com.alexura.baobao.entity.UserEntity" >
        INSERT INTO alex_user(`account`,user_name,user_tel,passwd,group_name,created,modified,`community1`,`community2`)
        VALUES
        (#{account}, #{userName},#{userTel},#{passwd},#{groupName}, now(),now(),#{community1},#{community2})
    </insert>

    <update id="updateUser" parameterType="com.alexura.baobao.entity.UserEntity" >
        UPDATE
        alex_user
        SET
        <if test="userName != null">user_name = #{userName},</if>
        <if test="userTel != null">user_tel = #{userTel},</if>
        <if test="passwd != null">passwd = #{passwd},</if>
        <if test="community1 != null">community1 = #{community1},</if>
        <if test="community2 != null">community2 = #{community2},</if>
        modified = now()
        WHERE
        id = #{id}
    </update>

    <update id="deleteUser" parameterType="com.alexura.baobao.entity.UserEntity" >
        UPDATE
        alex_user
        SET
        `status`=-1,
        modified = now()
        WHERE
        id = #{id}
    </update>
    <select id="getGrpNameList" resultType="java.lang.String">
        SELECT distinct group_name from alex_user where status=1
    </select>
</mapper>
